body {
  background-color: #222;
  color: #eee;
  font-family: sans-serif;
  text-align: center;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.pano {
  height: 85%;
  max-height: 85%;
}

#spin {
  height: 60px;
}